@import "breakpoints";

.carousel {
  display: flex;
  align-items: flex-end;
  width: 100vw;
  height: 65vh;
  position: relative;
  padding-bottom: 10px;
  // background-color: green;

  @media (max-width: map-get($breakpoints, "iPad")) {
    height: 60vw;
    width: 100%;
    overflow-x: scroll;
  }

  @media (max-width: map-get($breakpoints, "iPhone")) {
    height: 70vw;
    width: 100%;
    overflow-x: scroll;
    // very important to avoid overlap of carousel and filter menu
    position: unset;
  }
}

.mobileContainer {
  display: flex;

  @media (max-width: map-get($breakpoints, "iPad")) {
    height: 35vh;
  }
  @media (max-width: map-get($breakpoints, "iPhone")) {
    height: 25vh;
  }
}

.productMobileContainer {
  padding: 10px;
  display: flex;
  @media (max-width: map-get($breakpoints, "iPad")) {
    width: 90vw;
  }
  @media (max-width: map-get($breakpoints, "iPhone")) {
    width: 95vw;
  }
}

// FIN - mobile and tablet

.prevOrNextDivContainer {
  width: calc(45vw / 2);
  height: calc(25vw / 2);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  @media (max-width: map-get($breakpoints, "iPad")) {
    filter: none;
    opacity: 1;
    width: 85vw;
    height: 50vw;
  }
}
.prevOrNextDiv {
  width: 100%;
  height: 100%;
}

.button {
  width: 100px;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  z-index: 1;
  cursor: pointer;

  @media (max-width: map-get($breakpoints, "iPad")) {
    display: none;
  }
}

.buttonPrevious {
  position: absolute;
  bottom: 0;
  left: 4vw;
  height: 80%;

  @media (max-width: map-get($breakpoints, "iPad")) {
    display: none;
  }
}
.buttonNext {
  position: absolute;
  bottom: 0px;
  right: 4vw;
  height: 80%;
}

.addToCartButtonContainer {
  padding: 1vh;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 15vh;
  position: relative;
  bottom: -30px;
  animation: ease-out-addToCart-button 900ms forwards;
  animation: ease-out-addToCart-button 900ms forwards;
  @media (max-width: map-get($breakpoints, "iPhone")) {
    height: 20vh;
  }
}

.headerFiltersContainer {
  display: flex;
  width: 30vw;
  justify-content: center;

  position: relative;
  bottom: -30px;
  animation: ease-out-addToCart-button 900ms forwards;

  @media (max-width: map-get($breakpoints, "iPhone")) {
    width: 100vw;
    justify-content: center;
  }
}

@keyframes ease-out-addToCart-button {
  from {
    bottom: -30px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
.loading {
  height: 70vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 100;
}

.error {
  height: 70vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
