.outerContainer {
  background-color: aqua;
  height: 50vh;
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.innerContainer {
  background-color: purple;
  height: 30vh;
  width: 300vw;
  display: flex;
  align-items: center;
  scroll-snap-align: start;
}

.carouselItem {
  background-color: green;
  font-size: 50px;
  width: 40vw;
  height: 10vh;
  margin-left: 5vw;
  margin-right: 5vw;
  transition: width 0.5s, height 0.5s;
}

.big {
  width: 80vw;
  height: 20vh;
}

.centered {
  width: 80vw;
  height: 20vh;
  margin-left: 5vw;
  margin-right: 5vw;
}
