@import "breakpoints";

.cardContainer {
  display: flex;
  justify-content: center;
  align-items: end;
  // height: 150px;
}

// card is 90% and deleteContainer is 10%
.card {
  width: 90%;
  height: 200px;
  // background-color: yellowgreen;
  display: flex;
  justify-content: space-between;
  overflow: visible;
  margin-top: 30px;
  @media (max-width: map-get($breakpoints, "iPad")) {
    width: 100%;
    height: 200px;
  }
  @media (max-width: map-get($breakpoints, "iPhone")) {
    height: 130px;
  }
}

.borderGradient {
  background: linear-gradient(270deg, #3c3c3c 7.52%, rgba(60, 60, 60, 0) 50%);
  width: 100%;
}
.content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  // width: 90%;
  background-color: white;
  padding-right: 10px;
  // two small margins very imporatnt for the small black line under card
  margin-top: -0.3px;
  margin-left: 1px;
  display: flex;
  // background-color: yellow;
}

.imgContainer {
  width: 150px;
  display: flex;
  @media (max-width: map-get($breakpoints, "iPad")) {
    width: 150px;
  }
  @media (max-width: map-get($breakpoints, "iPhone")) {
    width: 100px;
  }
  // background-color: brown;
}

.img {
  width: 100%;
  height: auto;
  @media (max-width: map-get($breakpoints, "iPad")) {
    width: 100%;
    height: auto;
  }
  @media (max-width: map-get($breakpoints, "iPhone")) {
    width: 100%;
    height: auto;
  }
}

.productSpecs {
  padding-right: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  align-items: end;
  padding-top: 20%;
  padding-bottom: 5%;
  // background-color: blue;
}

.name {
  font-size: 20px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 100;
  @media (max-width: map-get($breakpoints, "iPad")) {
    font-size: 20px;
  }
  @media (max-width: map-get($breakpoints, "iPhone")) {
    font-size: 15px;
  }
}

.price {
  font-size: 15px;
  font-style: normal;
  font-weight: 100;
  @media (max-width: map-get($breakpoints, "iPad")) {
    font-size: 15px;
  }
  @media (max-width: map-get($breakpoints, "iPhone")) {
    font-size: 13px;
  }
}
.deleteContainer {
  padding-top: 20%;
  padding-bottom: 5%;
  height: 200px;

  width: 10%;
  // background-color: salmon;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: map-get($breakpoints, "iPad")) {
    width: 100%;
    height: 200px;
    width: 40px;
  }
  @media (max-width: map-get($breakpoints, "iPhone")) {
    height: 130px;
  }

  // background-color: salmon;
}
.deleteButton {
  padding-bottom: 3px;
}

.itemsCount {
  font-size: 20px;
  font-style: normal;
  font-weight: 100;
  text-transform: uppercase;
  margin-left: 2px;
  margin-right: 2px;
  @media (max-width: map-get($breakpoints, "iPad")) {
    font-size: 17px;
  }
  @media (max-width: map-get($breakpoints, "iPhone")) {
    font-size: 15px;
  }
}

.quantityControls {
  display: flex;
  align-items: center;
}
.quantityButton {
  color: #969696;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 100;
  //   background-color: violet;
  width: 20px;
  height: 20px;
  position: relative;
  margin: 2px;

  .quantitySigne {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
