@import "breakpoints";

.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 148px;

  @media (max-width: map-get($breakpoints, "iPad")) {
    margin-top: 30px;
  }
}
.buttonContainer {
  margin-top: 30px;
  width: 240px;
}

.loginErrorMessage {
  color: #f00;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 10px;
}
